<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

    注意：<p >filter:{name:test}|orderBy:['country','name']$timeout  $interval</p>
    <!--<div ng-app="" ng-init="person='我是字符串'">
        <span ng-bind="person"></span>
    </div>

    <br />

    <div ng-app="" ng-init="person={name:'张三',sex:'女'}">
        <p>1:<span ng-bind="person.name"></span></p>
        <p>2:<span ng-bind="person.sex"></span></p>
    </div>
    <br />-->

    <!--<div ng-app="" ng-init="array=[1,2,3,4]">
        <p>第三个值为 {{ array[2] }}</p>
        第四个值为<p ng-bind="array[3]"></p>
    </div>-->

    <!--<div ng-app="" ng-init="names=['郭','李','任','曲']">
        <ul>
            <li ng-repeat="x in names">{{x}}
            </li>
        </ul>
    </div>-->

    <!--<div ng-app="" ng-init="data=[{name:'郭傻',sex:'女'},{name:'赵武',sex:'男'},{name:'任⑦',sex:'男'}]">
        <ul>
            <li ng-repeat="x in data">
                <a>{{$index+1}}姓名</a>:<span>{{x.name}}</span>
                <a>性别</a>:<span>{{x.sex}}</span>
            </li>
        </ul>
    </div>-->
    

   <!--<div ng-app="myapp" ng-controller="myctrl">
       数量：<input type="text" name="quantity" ng-model="quantity"  />
       单价：<input type="text" name="price" ng-model="price"  />
       总价：<span>{{quantity*price|currency }}</span>
   </div>
    <script type="text/javascript">
        var myapp = angular.module("myapp", []);
        myapp.controller("myctrl", function ($scope)
        {
            $scope.quantity = 1;
            $scope.price = 0.99;
        })
    </script>-->


    <!--<div ng-app="myapp" ng-controller="myctrl">
        <p>输入过滤:</p>
        <p><input type="text" ng-model="test"></p>
        <ul>
            <li ng-repeat=" x in data|filter:{name:test}|orderBy:['country','name']">
                {{(x.name|reverse)+','+x.country}}
            </li>
        </ul>
        //filter也可以过滤子属性值
   </div>
    <script type="text/javascript">
        var myapp = angular.module("myapp", []);
        myapp.controller("myctrl", function ($scope) {
            $scope.data = [{ name: 'xiaohu', country: 'rng' }, { name: 'mlxg', country: 'rng' }, { name: 'uzi', country: 'we' }, { name: 'other', country: 'skt' }];
        })
        myapp.filter("reverse", function () {//自定义过滤
            return function (text)
            {
                return text.split("").reverse().join("");
            }
        })
    </script>-->


    <!--<div ng-app="myApp" ng-controller="myCtrl">
<p> 当前页面的url:</p>
<h3>{{myUrl}}</h3>
</div>

<p>该实例使用了内建的 $location 服务获取当前页面的 URL。</p>
    <script type="text/javascript">
        var myapp = angular.module("myApp", []);
        myapp.controller("myCtrl", function ($scope, $location) {
            $scope.myUrl = $location.absUrl();//获取当前地址absUrl()
        })
    </script>
        -->

    <!--div ng-app="myapp" ng-controller="myctrl">
        <h1>{{mydata}}</h1>
    </div>
    <script type="text/javascript">
        var myapp = angular.module("myapp", []);
        myapp.controller("myctrl", function ($scope, $http)
        {
            $http.get("httpdemo.html").then(function (res) {
                $scope.mydata = res;
            })
        })
        </script>-->


    <!--<div ng-app="myApp" ng-controller="myCtrl"> 

<p>两秒后显示信息:</p>

<h1>{{myHeader}}</h1>

</div>

<p>$timeout 访问在规定的毫秒数后执行指定函数。</p>

<script type="text/javascript">
    var myapp = angular.module("myApp", []);
    myapp.controller("myCtrl", function ($scope, $timeout)
    {
        $scope.myHeader = "hello guo lao ban";
        $timeout(function () {
            $scope.myHeader = "how are you?";
        },2000)
    })
</script>-->


    <!--<div ng-app="myapp" ng-controller="myctrl">
        <p>现在的时间是</p>
        <span>{{datetime}}</span>
    </div>
    <script type="text/javascript">
        var myapp = angular.module("myapp", []);
        myapp.controller("myctrl", function ($scope, $interval)
        {
            $scope.datetime = new Date().toLocaleTimeString();
            $interval(function () {
                $scope.datetime = new Date().toLocaleTimeString();
            }, 1000)
        })
    </script>-->


    <!--<div ng-app="myApp" ng-controller="myCtrl">

<p>255 的16进制是:</p>

<h1>{{hex}}</h1>

</div>

<p>自定义服务，用于转换16进制数：</p>
    <script type="text/javascript">
        var myapp = angular.module("myApp", []);
        myapp.service("hexafy", function ()
        {
            this.myFunc = function (x)
            {
                return x.toString(16);
            }
        })
        myapp.controller('myCtrl', function ($scope, hexafy)
        {
            $scope.hex = hexafy.myFunc(96);
        })
        </script>-->


    <!--<div ng-app="myApp">
在过滤器中使用服务:

<h1>{{255 | myFormat}}</h1>

</div>
    <script type="text/javascript">
        var myapp = angular.module("myApp", []);
        myapp.service("hexafy", function () {
            this.myFunc = function (x) {
                return x.toString(16);
            }
        })
        myapp.filter("myFormat", ["hexafy", function (hexafy) {
            return function (x)
            {
                return hexafy.myFunc(x);
            }
        }])
    </script>-->


    
    <!--<div ng-app="myapp" ng-controller="myctrl">
        <p>再数组里使用自定义过滤器</p>
        <ul>
            <li ng-repeat="x in array">{{x|myFormat}}</li>
        </ul>
    </div>
    <script type="text/javascript">
        var myapp = angular.module("myapp", []);
        //定义服务
        myapp.service("jinzhi", function () {
            this.MyFun = function (x) {
                return x.toString(16);
            }
        });
        myapp.filter("myFormat", ["jinzhi", function (jinzhi) {
            return function (x) {
                return jinzhi.MyFun(x);
            }
        }]);
        //控制器
        myapp.controller("myctrl", function ($scope)
        {
            $scope.array = [255, 254, 253, 252, 251, 250];
        })
    </script>-->

   <!-- <div ng-app="myApp" ng-controller="siteCtrl"> 

<ul>
  <li ng-repeat="x in names">
    {{ x.Name + ', ' + x.Country }}
  </li>
</ul>

</div>
    <script>
        var app = angular.module('myApp', []);

        app.controller("siteCtrl", function ($scope, $http)
        {
            $http({
                method: "get",
                url: "/json.html"
            }).then(function a(data)
            {
                $scope.names = data.data.sites;
            }, function b()
            {
                
            })
        })
</script>-->



    <!--<div ng-app="myApp" ng-controller="myCtrl">
        <select ng-init="selectedname=names[0]" ng-model="selectedname"  ng-options="x for x in names"></select>
        

    <select>
        <option ng-repeat="x in names">{{x}}</option>
    </select>
        </div>
    <script type="text/javascript">
        var myapp = angular.module("myApp", []);
        myapp.controller("myCtrl", function ($scope) {
            $scope.names=["中国","日本","韩国","朝鲜","俄罗斯","美国"]
        })
    </script>-->


    <!--<div ng-app="myapp" ng-controller="myctrl">
        <select ng-model="selectname">
            <option ng-repeat="x in names" value="{{x.url}}">{{x.site}}</option>
        </select>
        <p>你选择的是{{selectname}}</p>
    </div>
    <script type="text/javascript">
        var myapp = angular.module("myapp", []);
        myapp.controller("myctrl", function ($scope) {
            $scope.names = [{ site: "百度", url: "www.baidu.com" }, { site: "谷歌", url: "www.goole.com" }, { site: "必应", url: "www.biying.com" }]
        })
    </script>-->

    <div ng-app="myapp" ng-controller="myctrl">
        <select ng-model="select" ng-options="x for (x,y) in names"></select>
        <p>你选择的是{{select}}</p>
    </div>
    <script type="text/javascript">
        var myapp = angular.module("myapp", []);
        myapp.controller("myctrl", function ($scope) {
            $scope.names = { site01: "baidu", site02: "goole", site03: "Runoob" };
        })
        </script>
</body>
</html>
